.App {
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.headerWrapper{
  max-width: 100%;
  height: 50px;
  background-color: #002047;
}
.UserWrapper,.homeWrapper{
  display: flex;
  align-items: center;
}
.homeWrapper{
  max-width: 100%;
  height: calc(100vh - 50px);
  overflow-y: auto;
  justify-content: space-between;
}
aside{
  flex: .2;
  height: 100%;
  background-color: #002047;
  position: sticky;
  top: 0;
}
main{
  flex: .8;
  height: 100%;
  background-color:#e8e8ee;
}
.UserWrapper{
  width: 100%;
  height: 60px;
  background-color: #f05c2c;
  padding: 0px 10px;
  gap: 10px;
}
.userImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.userImage img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.userdetails{
  text-align: start;
  text-transform: capitalize;
  color: #fff;
}
nav{
  width: 100%;
  height: auto;
  text-align: start;
  padding: 10px;
}
nav ul{
  list-style: none;
}
nav ul li{
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
  padding: 5px 10px;
}
.active{
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
}
.dashboardWrapper{
  width: 100%;
  height: 100%;
  background-color: #e8e8ee;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 229px;
  height: 170px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.card h4{
  color: #002047;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.card:hover{
  transform: scale(1.05);
}
.cardImgWrapper{
  width: 50px;
  height: 50px;
}
.cardImgWrapper img{
  width: 100%;
  height: 100%;
}
.studentsWrapper{
  width: 100%;
  height: 100%;
  background-color: #e8e8ee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.studentcard1{
  width: 200px;
  height: 120px;
  background-color: #002047;
  border-radius: 10px;
  padding: 20px;
  text-align: start;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.studentcard1:hover{
  transform: scale(1.05);
}
.addStudent{
  background-color: #f05c2c;
}
.deleteStudent{
  background-color: red;
}
.approveStudent{
  background-color: green;
}
.addStudentWrapper{
  width: 100%;
  height: 100%;
  background-color: #e8e8ee;
  padding: 20px;
}
.addStudentWrapper h2{
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 20px;
}
table{
  width: 100%;
  text-align: start;
  height: auto;
}
table td{
  text-transform: capitalize;
   padding: 15px 10px;
}
table td input{
  height: 35px;
  width: 250px;
  padding: 0 10px;
  border-radius:10px;
  border: none;
  outline-color:#f05c2c;
}
.studentContainer{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerBtnWrapper{
  width: 100%;
  height: auto;
  padding-top: 10px;
}
.registerBtnWrapper button{
  padding: 8px 15px;
  cursor: pointer;
  outline: brown;
  border:none;
  border-radius: 5px;
  color: #fff;
  background-color: #002047;
  text-align: center;
  text-transform: capitalize;
}
.registerBtnWrapper button:hover{
  background-color: #f05c2c;
}